<li>
{% if site.feedback_text %}
  {% assign feedback_text = site.feedback_text %}
{% else %}
  {% assign feedback_text = "Contact" %}
{% endif %}

{% if site.feedback_link %}
  <a class="email" title={{site.download_title}} href="{{site.feedback_link}}">{{feedback_text}}</a>
{% else %}
  <a class="email" title="{{site.download_title}}" href="#" onclick="javascript:window.location='mailto:{{site.feedback_email}}?subject={{site.feedback_subject_line}} &body={{site.feedback_body}}' "><i class="fa fa-download fa-lg"></i> {{feedback_text}}</a>
{% endif %}
</li>
